{{define "newArticle"}}
    {{template "layout"}}
    <div class="container">
        <h1>New Article</h1>

        <form action="/articles/create" method="post">
            <div>
                <label>
                    Title: <input type="text" name="title" placeholder="insert the article's title">
                </label>
            </div>
            <div>
                <label>
                    Content: <textarea name="content" cols="30" rows="10"></textarea>
                </label>
            </div>
            <div>
                <label>
                    Description: <input type="text" name="description" placeholder="insert the article's description">
                </label>
            </div>
            <div>
                <input type="submit" value="Crear">
            </div>
        </form>
    </div>
</body>
</html>
{{end}}
